
body {
    background: #f5f7fb;
    font-family:'Poppins',sans-serif;
    margin: 0 ;
}
#navbar {
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 2px 0px 14px #888888;
    margin: 0 auto;
}
.logo img{
    height: 100px;
    width:100px;
    cursor: pointer;
}
.menu {
    display: flex;
    gap: 50px;
    margin-right: 200px;
}
.A {
    border-radius: 5px;
    background: white;
    padding: 15px 20px;
    color: #2563eb;
    text-decoration: none;

}
.A:hover {
    background-color: #2563eb;
    color: white;
}
.B {
    border-radius:5px ;
    background: #2563eb;
    padding: 15px 20px;
    color:white ;
    text-decoration: none;
}


.container {
    display: flex;
    margin: 80px auto;
    background: aliceblue;
    height: auto;
    width: 70%;
    border: 2px solid black;
    box-shadow:gray ;
    border-radius: 15px;
    
}
.anh img {
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.anh {
    width: 50%;
}
.login {
    width: 100%;
}
.h1 {
    font-size: 20px;
}
.dangky {
    color: orangered;
    cursor: pointer;
    text-decoration: none;
}
.chung {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    width: 50%;
}
.email {
    width: 100%;
}

.password {
    width: 100%;
    margin-bottom: 10px;
}
p {
    font-size: 15px;
}
.input {
    width: 100%;
    padding: 14px 0 14px 1%;    
    border-radius:5px ;
    border: 2px solid gainsboro;
}


.quen {
    text-decoration: none;
    color: orangered;
    margin: 0 0 20px 78%;
}
.dangnhap {
    width: 30%;
    display: flex;
    background: #2563eb;
    padding: 20px 0;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
}
.dangnhap:hover{
    background:#1d4ed8;
    box-shadow:0 6px 15px rgba(37,99,235,.3);
}
.line {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.line hr {
    flex: 1;

}
.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
